.details {
  display: flex; /* Display as a flex container */
  flex-direction: column; /* Stack children vertically */
  max-width: 500px; /* Limit the maximum width */
  margin-bottom: 30px; /* Add margin at the bottom */
}

@media screen and (min-width: 768px) {
  .details {
    flex-direction: row; /* Change flex direction to horizontal */
    align-items: flex-start; /* Align items to the top */
    max-width: none; /* Remove maximum width */
  }
}

.go_back {
  position: absolute; /* Set the position to absolute */
  top: 10px; /* Position from the top */
  left: 10px; /* Position from the left */

  width: 34px; /* Set width */
  height: 34px; /* Set height */

  display: flex; /* Display as flex container */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */

  padding: 0; /* Reset padding */
  border-radius: 30px; /* Rounded corners */
  border: none; /* Remove border */

  background-color: white; /* Set background color */
  color: #7fffd4; /* Set text color */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Add box shadow */

  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); /* Define transition effects */

  cursor: pointer; /* Change cursor to a pointer on hover */
}

.go_back:hover,
.go_back:focus {
  outline: none; /* Remove outline on hover/focus */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /* Add box shadow on hover/focus */
}

.go_back__icon {
  fill: currentColor; /* Set fill color to the current text color */
}

.image_wrapper {
  position: relative; /* Set position to relative */
  display: flex; /* Display as a flex container */
  justify-content: center; /* Center content horizontally */
  margin-bottom: 20px; /* Add margin at the bottom */
}

@media screen and (min-width: 768px) {
  .image_wrapper {
    margin-bottom: 0; /* Remove margin at the bottom */
    margin-right: 30px; /* Add margin on the right */
  }
}

@media screen and (min-width: 1200px) {
  .image_wrapper {
    width: 350px; /* Set width for larger screens */
  }
}

.image {
  width: 100%; /* Set width to 100% */
  max-width: 500px; /* Set maximum width */
  border-radius: 4px; /* Add rounded corners */
}

@media screen and (min-width: 768px) {
  .image {
    width: 300px; /* Set a different width for larger screens */
  }
}

@media screen and (min-width: 1200px) {
  .image {
    width: 350px; /* Set a different width for even larger screens */
  }
}

.title_wrapper {
  margin-bottom: 20px; /* Add margin at the bottom */
}

.title {
  font-size: 26px; /* Set font size */
  margin-bottom: 5px; /* Add margin at the bottom */
}

.tagline {
  font-style: italic; /* Apply italic style */
  color: grey; /* Set text color to grey */
}

.info {
  margin-bottom: 20px; /* Add margin at the bottom */
  padding: 0; /* Reset padding */
  list-style: none; /* Remove list-style */
}

.info__item {
  position: relative; /* Set position to relative */
  overflow: hidden; /* Hide overflowing content */
  color: grey; /* Set text color to grey */
}

.info__item:not(:last-child) {
  padding-bottom: 3px; /* Add padding at the bottom except for the last item */
}

.info__value,
.genres {
  position: absolute; /* Set position to absolute */
  left: 100px; /* Position from the left */
  color: black; /* Set text color to black */
}

.genres {
  display: inline-flex; /* Display genres as inline flex */
  flex-wrap: wrap; /* Allow genres to wrap to the next line */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  list-style: none; /* Remove list-style */
}

.overview {
  margin-bottom: 20px; /* Add margin at the bottom */
}

.additional {
  display: flex; /* Display as flex container */
}

.additional__button {
  font-family: 'Varela Round'; /* Set the font family */
  display: block; /* Display as block element */
  padding: 15px; /* Set padding */
  margin-right: 15px; /* Add margin on the right */
  line-height: 0; /* Set line height to 0 */
  border-radius: 4px; /* Add rounded corners */
  color: white; /* Set text color to white */
  background-color: #7fffd4; /* Set background color */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Add box shadow */

  transition: all 0.2s; /* Define transition effects */
}

.additional__button:hover,
.additional__button:focus {
  outline: none; /* Remove outline on hover/focus */
  color: #7fffd4; /* Change text color on hover/focus */
  background-color: white; /* Change background color on hover/focus */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /* Add box shadow on hover/focus */
  text-decoration: none; /* Remove text decoration */
}

.star {
  color: #7fffd4; /* Set star color to teal */
}
